// $neutrol-300:
$neutrol-0:white;
$redColor:#D74141;
$backgroundColorTransparent:rgba(255, 255, 255, 0.3);
$greenColor:#A6FEC2;
$greenColorTransparent:rgba(177, 234, 194, 0.5);
$blackColorTransparent:rgba(0, 0, 0, 0.22);